<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <a class="navbar-brand" href="/posts">
    <img src="https://i.ibb.co/2hCTDKN/secret.gif" width="30" height="30" class="d-inline-block align-top" alt="">
    SECRET
  </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/whisperer/login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whisperer/signup">SIGNUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">an anonymous message board...</a>
        </li>
      </ul>
      <form class="form-inline">
        <div class="input-group">
          <a class="nav-link" href="/secret/post"><button class="btn btn-outline-light" >POST</button></a>
          </div>
      </form>

    </div>
</nav>
