<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Secrets...</title>
</head>
<Style>
    #deleteButton {
        text-align: right;
        display: inline;
    }
    .secret {
        padding: 20px;
    }
</Style>
<%- include('../partials/style') %>
<body>
    <%- include('../partials/nav') %>

    <div id='postForm'>
        <form action='/secret' method='POST'>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">What's on your mind?</label>
                <textarea class="form-control" name='context' id="exampleFormControlTextarea1" rows="3"></textarea><br>
                <div class="text-right"><button type="submit" class="btn btn-primary mb-2">Speak anonymously...</button></div>
              </div>
        </form>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>
