<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Sign Up</title>
</head>
<%- include('../partials/style') %>
<body>
    <%- include('../partials/nav') %>

    <div id='signupForm'>
        <form action='/whisperer' method='POST'>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">I agree to have fun.</label>
            </div>
            <div class="text-right"><button type="submit" class="btn btn-primary mb-2">Sign Up</button></div>
        </form>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>
